.pageheader{
  background-color: #853a00;
  background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

